@charset "UTF-8";
.header {
  width: 100%;
  margin-top: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__name {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  margin-right: 230px;
  color: #fff;
}
.header__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  width: 35px;
  height: 15px;
}
.header__toggle span {
  background-color: white;
  width: 30px;
  height: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__toggle span:last-of-type {
  margin-top: 5px;
}

.burger {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: -100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.burger__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger__space {
  width: 620px;
}
.burger__nav {
  width: 400px;
  height: 100vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.burger__menu-item:first-of-type {
  margin-bottom: 20px;
}
.burger__menu-list {
  text-decoration: none;
  font-weight: 500;
  font-size: 45px;
  line-height: 54px;
  margin-left: 40px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}
.burger__menu-link {
  color: black;
  text-transform: uppercase;
}
.burger__menu-link:hover {
  color: #9a9a9a;
}
.burger__contacts-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 40px;
  margin-top: 20px;
}
.burger__contacts-link {
  color: black;
  text-transform: uppercase;
}
.burger__contacts-link:hover {
  color: #9a9a9a;
}
.burger__menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger__active {
  top: 0;
}
.burger__active + .header {
  height: 0;
  margin-top: 0;
}
.burger__active + .header .header__toggle {
  position: absolute;
  top: 20px;
}
.burger__active + .header .header__logo {
  opacity: 0;
}
.burger__active + .header .header__container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.burger__active + .header .header__name {
  display: none;
}
.burger__active + .header .header__toggle span {
  background-color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.burger__active + .header .header__toggle span:first-of-type {
  -webkit-transform: rotate(381deg) translateX(1px) translateY(4px);
          transform: rotate(381deg) translateX(1px) translateY(4px);
}
.burger__active + .header .header__toggle span:last-of-type {
  -webkit-transform: rotate(-381deg) translateX(0px) translateY(-2px);
          transform: rotate(-381deg) translateX(0px) translateY(-2px);
}

.about {
  padding: 0px 220px;
  background-color: #E5E5E5;
}
@media (max-width: 960px) {
  .about {
    margin-left: 0px;
    padding: 0px 89px;
  }
}
@media (max-width: 640px) {
  .about {
    padding: 0px 53px;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 0px 72px;
  }
}
.about__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 100px;
}
.about__adventages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 640px) {
  .about__adventages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__adventages-list {
  max-width: 759px;
}
.about__adventages-item {
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  border-top: 0.5px solid #0C0C0C;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__adventages-item p {
  line-height: 34px;
  font-size: 18px;
  font-weight: 500;
}
.about__adventages-item:last-of-type {
  border-bottom: 0.5px solid #0C0C0C;
}
@media (max-width: 960px) {
  .about__adventages-item {
    padding-right: 0px;
  }
}
@media (max-width: 640px) {
  .about__adventages-item {
    padding-right: 0px;
  }
}
@media (max-width: 480px) {
  .about__adventages-item {
    font-weight: 500;
    font-size: 20px;
  }
}
.about__adventages-item span {
  font-weight: 500;
  font-size: 38px;
  margin-right: 20px;
}
.about__adventages-sup {
  font-weight: 500;
  font-size: 9.82759px;
}
.about__services {
  margin-top: 150px;
}
.about__big-black-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 375px;
}
@media (max-width: 640px) {
  .about__big-black-cross {
    margin-top: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 480px) {
  .about__big-black-cross {
    margin-top: 17px;
  }
}
.about__servives-list {
  width: 725px;
}
@media (max-width: 640px) {
  .about__servives-list {
    max-width: 540px;
  }
}
.about__adventages-item {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}
.about__services-item {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 0.5px solid #0C0C0C;
  padding-top: 39px;
  padding-bottom: 39px;
}
@media (max-width: 960px) {
  .about__services-item {
    padding-right: 0px;
  }
}
@media (max-width: 640px) {
  .about__services-item {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .about__services-item {
    width: 100%;
  }
}
.about__services-span {
  font-weight: 500;
  font-size: 28px;
}
.about__services-title {
  font-weight: 500;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 0.5px solid #0C0C0C;
}
@media (max-width: 960px) {
  .about__services-title {
    padding-left: 100px;
  }
}
@media (max-width: 640px) {
  .about__services-title {
    padding-left: 0px;
    text-align: left;
    max-width: 540px;
    width: 90%;
  }
}
.about__services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 640px) {
  .about__services-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  width: 100%;
}
.about__images img {
  width: 100%;
}
@media (max-width: 640px) {
  .about__cross {
    display: none;
  }
}
.about__small-cross {
  display: none;
}
@media (max-width: 640px) {
  .about__small-cross {
    display: block;
  }
}
.about__black-cross {
  margin-top: 300px;
  margin-left: 180px;
}
@media (max-width: 1223px) {
  .about__black-cross {
    margin-left: 0px;
  }
}
@media (max-width: 640px) {
  .about__black-cross {
    margin-top: 20px;
  }
}
@media (max-width: 640px) {
  .about__big-cross {
    display: none;
  }
}
.about__big-cross-640 {
  display: none;
}
@media (max-width: 640px) {
  .about__big-cross-640 {
    display: block;
  }
}

.about__img-2, .about__img-3, .about__img-4, .about__img-5 {
  display: none;
}

@media (max-width: 960px) {
  .about__img {
    display: none;
  }

  .about__img-2 {
    display: block;
  }
}
@media (max-width: 640px) {
  .about__img-2 {
    display: none;
  }

  .about__img-3 {
    display: block;
  }
}
@media (max-width: 480px) {
  .about__img-3 {
    display: none;
  }

  .about__img-4 {
    display: block;
  }
}
@media (max-width: 320px) {
  .about__img-4 {
    display: none;
  }

  .about__img-5 {
    display: block;
    line-height: 26px;
    text-transform: uppercase;
  }
}
.partners {
  background-color: #E5E5E5;
  padding: 0px 220px;
}
@media (max-width: 960px) {
  .partners {
    padding: 0px 89px;
  }
}
@media (max-width: 640px) {
  .partners {
    padding: 0px 53px;
  }
}
.partners__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 960px) {
  .partners__wrapper {
    padding: 0px 89px;
  }
}
@media (max-width: 640px) {
  .partners__wrapper {
    padding: 0px 53px;
  }
}
.partners__card {
  max-width: 250px;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}
@media (max-width: 960px) {
  .partners__card {
    max-width: 150px;
  }
}
@media (max-width: 480px) {
  .partners__card {
    max-width: 119px;
  }
}
.partners__pic {
  width: 80%;
}

.intro {
  margin-top: 0px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(105.2deg, #0e2931 -12.88%, #020a0d 40.25%);
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}
.intro__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.intro__pic {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
}
.intro__pic-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__title {
  margin: 0px;
  margin-top: auto;
  margin-right: 0px;
  text-transform: uppercase;
  font-size: 74px;
  line-height: 89px;
  max-width: 670px;
  font-weight: 500;
}
.intro__title::after {
  content: "систем безопасности видеонаблюдения охранно-пожарных систем";
  position: absolute;
  font-size: 17px;
  max-width: 260px;
  line-height: 21px;
  margin-left: 20px;
  margin-top: 14px;
  font-weight: 400;
}
.intro__subtitle {
  display: none;
}
.intro__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  margin-bottom: 25px;
}
.intro__container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  max-width: 370px;
  margin: 0px;
  max-width: 400px;
}
.intro__text:last-of-type {
  padding-left: 10px;
}

.cross {
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}
.cross:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

@media (max-width: 1105px) {
  .intro__title {
    font-size: 60px;
  }

  .intro__title::after {
    font-size: 13px;
  }
}
@media (max-width: 960px) {
  .header {
    max-width: 800px;
    padding: 0px 80px;
  }

  .intro {
    max-width: 800px;
    padding: 0px 80px;
  }

  .header__nameing {
    margin-right: 0px;
  }
}
@media (max-width: 700px) {
  .header {
    padding: 0px 55px;
  }

  .intro {
    padding: 0px 55px;
  }

  .intro__title {
    font-size: 68px;
  }

  .intro__title::after {
    font-size: 15px;
  }
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Medium"), local("PTRootUI-Medium"), url("Ptrootuimedium.woff2") format("woff2"), url("fonts/Ptrootuimedium.woff") format("woff"), url("fonts/Ptrootuimedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Light"), local("PTRootUI-Light"), url("Ptrootuilight.woff2") format("woff2"), url("fonts/Ptrootuilight.woff") format("woff"), url("fonts/Ptrootuilight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI"), local("PTRootUI-Regular"), url("Ptrootui.woff2") format("woff2"), url("fonts/Ptrootui.woff") format("woff"), url("fonts/Ptrootui.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Bold"), local("PTRootUI-Bold"), url("Ptrootuibold.woff2") format("woff2"), url("fonts/Ptrootuibold.woff") format("woff"), url("fonts/Ptrootuibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "PT Root UI";
}

.container {
  max-width: 1160px;
  margin: auto;
  width: 100%;
}