@charset "UTF-8";
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Medium"), local("PTRootUI-Medium"), url("../../fonts/Ptrootuimedium.woff2") format("woff2"), url("../../fonts/Ptrootuimedium.woff") format("woff"), url("../../fonts/Ptrootuimedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Light"), local("PTRootUI-Light"), url("../../fonts/Ptrootuilight.woff2") format("woff2"), url("../../fonts/Ptrootuilight.woff") format("woff"), url("../../fonts/Ptrootuilight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI"), local("PTRootUI-Regular"), url("../../fonts/Ptrootui.woff2") format("woff2"), url("../../fonts/Ptrootui.woff") format("woff"), url("../../fonts/Ptrootui.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: local("PT Root UI Bold"), local("PTRootUI-Bold"), url("../../fonts/Ptrootuibold.woff2") format("woff2"), url("../../fonts/Ptrootuibold.woff") format("woff"), url("../../fonts/Ptrootuibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "PT Root UI";
}

.container {
  max-width: 1160px;
  margin: auto;
  width: 100%;
}

.scroll-off {
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.rotate-center {
  -webkit-animation: rotate-center 1s linear infinite both;
  animation: rotate-center 1s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.fade-in {
  -webkit-animation: fade-in 3s linear infinite;
  animation: fade-in 3s linear infinite;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  width: 100%;
  margin-top: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  position: relative;
  z-index: 0;
}
.header__name {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: auto;
  margin-left: 395px;
  color: #fff;
}
.header__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  width: 35px;
  height: 15px;
  position: relative;
  z-index: 2;
}
.header__toggle span {
  background-color: white;
  width: 30px;
  height: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__toggle span:last-of-type {
  margin-top: 5px;
}

.menu {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: -100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.menu__nav {
  height: 100%;
  border-left: 1px solid #0c0c0c;
  border-right: 1px solid #0c0c0c;
}
.menu__nav-item:first-of-type {
  margin-bottom: 20px;
}
.menu__nav-list {
  text-decoration: none;
  font-weight: 500;
  font-size: 45px;
  line-height: 54px;
  position: relative;
  z-index: 2;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.menu__nav-link {
  color: #0c0c0c;
  text-transform: uppercase;
}
.menu__nav-link:hover {
  color: #9a9a9a;
}
.menu__contacts-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 30px;
}
.menu__contacts-item {
  margin-bottom: 15px;
}
.menu__contacts-item:last-child {
  margin-bottom: 0;
}
.menu__contacts-link {
  color: #0c0c0c;
  text-transform: uppercase;
  white-space: nowrap;
}
.menu__contacts-link:hover {
  color: #9a9a9a;
}
.menu__nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__active .menu {
  top: 0;
}
.header__active .header__toggle span {
  background-color: #0c0c0c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__active .header__toggle span:first-of-type {
  -webkit-transform: rotate(381deg) translateX(1px) translateY(4px);
          transform: rotate(381deg) translateX(1px) translateY(4px);
}
.header__active .header__toggle span:last-of-type {
  -webkit-transform: rotate(-381deg) translateX(0px) translateY(-2px);
          transform: rotate(-381deg) translateX(0px) translateY(-2px);
}

@media screen and (max-width: 1200px) {
  .menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 25vw;
  }
}
@media screen and (max-width: 900px) {
  .header__name {
    margin: 0;
    margin-left: 20px;
  }

  .menu__wrapper {
    padding-left: 40px;
  }
  .menu__nav-list {
    font-size: 38px;
    line-height: 46px;
  }
}
@media screen and (max-width: 630px) {
  .menu__nav {
    margin-bottom: 100px;
  }
  .menu__nav-list {
    padding-top: 19px;
  }
  .menu__nav-item:first-of-type {
    margin-bottom: 15px;
  }
  .menu__nav {
    height: auto;
    border: none;
  }
  .menu__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-left: 40px;
    border-left: 0.5px solid #0c0c0c;
  }
  .menu__nav-list {
    font-size: 26px;
    line-height: 31px;
  }
}
.about {
  margin-top: 100px;
}
.about__title {
  visibility: hidden;
  height: 0;
  pointer-events: none;
}
.about__list {
  max-width: 760px;
  margin-left: 410px;
}
.about__list-item {
  border-bottom: 0.5px solid #0c0c0c;
}
.about__list-item:first-child {
  border-top: 0.5px solid #0c0c0c;
}
.about__list-item-text {
  padding: 40px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.about__list-item-text-num {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  width: 68px;
  margin-right: 30px;
}
.about__list-item-text-num_after-text {
  position: relative;
}
.about__list-item-text-num_after-text::after {
  content: "лет";
  display: block;
  position: absolute;
  left: 35px;
  top: 7.5px;
  font-weight: 500;
  font-size: 9.82759px;
  line-height: 12px;
  color: #0c0c0c;
}
.about__pic-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.about__pic {
  max-width: 499px;
}
.about__pic:last-child {
  max-width: 562px;
  margin-left: 99px;
}
.about__pic-img {
  width: 100%;
}
.about__cross {
  margin-top: 44px;
  margin-left: 150px;
}

@media screen and (max-width: 1200px) {
  .about__cross {
    margin-left: 10px;
    margin-top: -15px;
  }
  .about__pic-wrapper {
    margin-top: 80px;
  }
  .about__pic:last-child {
    margin-left: 60px;
  }
}
@media screen and (max-width: 950px) {
  .about__list {
    margin-left: 0;
  }
  .about__cross {
    margin-left: 0;
    margin-top: 45px;
  }
  .about__cross-svg {
    width: 27px;
    height: 27px;
  }
  .about__pic-wrapper {
    margin-top: 40px;
  }
  .about__pic:last-child {
    margin-left: 40px;
  }
}
@media screen and (max-width: 630px) {
  .about__cross {
    margin-top: 50px;
  }
  .about__pic-wrapper {
    margin-top: 15px;
  }
  .about__list {
    margin-left: 0;
  }
  .about__list-item-text {
    font-size: 28px;
    line-height: 34px;
    white-space: initial;
  }
  .about__list-item-text-num {
    font-size: 38px;
    line-height: 46px;
    margin-right: 30px;
  }
  .about__list-item-text-num_after-text::after {
    font-size: 9.82759px;
    line-height: 12px;
  }
}
@media screen and (max-width: 400px) {
  .about__cross {
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__cross-svg {
    margin-left: auto;
  }
  .about__pic {
    max-width: 68%;
  }
  .about__pic:last-child {
    margin-top: 15px;
    margin-left: auto;
    max-width: 70%;
  }
  .about__pic-wrapper {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__list {
    margin-left: 0;
  }
  .about__list-item-text {
    font-size: 22px;
    line-height: 26px;
    padding: 25px 0;
  }
}
.works {
  margin-top: 150px;
  margin-bottom: 150px;
}
.works__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #0c0c0c;
  max-width: 760px;
  margin-left: 410px;
}
.works__line {
  height: 0.5px;
  width: 100%;
  background-color: #0c0c0c;
  display: block;
}
.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.works__cross {
  max-width: 410px;
  padding-top: 345px;
  width: 100%;
}
.works__list {
  max-width: 750px;
  width: 100%;
}
.works__list-item {
  border-bottom: 0.5px solid #0c0c0c;
  width: 100%;
}
.works__list-item-text {
  padding: 35px 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works__list-item-text-num {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #0c0c0c;
  margin-right: 60px;
  width: 40px;
}
@media screen and (max-width: 1200px) {
  .works {
    margin: 120px 0;
  }
  .works__cross {
    padding-top: 395px;
  }
}
@media screen and (max-width: 950px) {
  .works {
    margin-bottom: 70px;
  }
  .works__title {
    margin-left: 0;
  }
  .works__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .works__cross {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }
  .works__cross-svg {
    width: 37px;
    height: 37px;
    margin-left: auto;
  }
}
@media screen and (max-width: 630px) {
  .works {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 400px) {
  .works {
    margin-bottom: 15px;
  }
  .works__title {
    font-size: 26px;
    line-height: 31px;
  }
  .works__list-item-text {
    font-size: 18px;
    line-height: 22px;
  }
  .works__list-item-text-num {
    font-size: 28px;
    line-height: 34px;
    margin-right: 45px;
    width: 34px;
  }
}
.partners__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (135px)[4];
  grid-template-columns: repeat(4, 135px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partners__pic {
  width: 100%;
}

.intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../img/back-intro.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
.intro__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.intro__pic {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
}
.intro__pic-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__title {
  margin: 0px;
  margin-top: auto;
  margin-right: 0px;
  text-transform: uppercase;
  font-size: 74px;
  line-height: 89px;
  max-width: 670px;
  font-weight: 500;
}
.intro__title span {
  position: absolute;
  font-size: 17px;
  max-width: 260px;
  line-height: 21px;
  margin-left: 20px;
  margin-top: 14px;
  font-weight: 400;
  white-space: nowrap;
}
.intro__subtitle {
  display: none;
}
.intro__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  margin-bottom: 25px;
}
.intro__container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  max-width: 370px;
  margin: 0px;
  max-width: 400px;
}
.intro__text:last-of-type {
  padding-left: 10px;
}

@media screen and (max-width: 700px) {
  .intro__title {
    font-size: 68px;
    line-height: 82px;
  }
  .intro__title span {
    font-size: 15px;
    line-height: 18px;
  }
  .intro__text:last-of-type {
    padding-left: 0;
    margin-top: 25px;
  }
  .intro__description {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .intro__container-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .intro__title {
    font-size: 50px;
    line-height: 60px;
  }
  .intro__title span {
    font-size: 11px;
    line-height: 13px;
  }
}
@media screen and (max-width: 480px) {
  .intro {
    background: url("../../img/marcos-paulo-prado-QYVCzK-bnYU-unsplash 1.jpg") no-repeat;
    background-size: cover;
    background-position: right;
    max-height: 550px;
  }
  .intro__title {
    font-size: 33px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__title span {
    font-size: 12px;
    line-height: 14px;
    position: static;
    margin: auto;
    margin-top: 10px;
  }
  .intro__text {
    font-size: 12px;
    line-height: 14px;
  }
  .intro__text:last-of-type {
    margin-top: 15px;
  }
  .intro__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro__cross {
    margin-bottom: 40px;
  }
}
.directions {
  background-color: #000;
  padding: 60px 0;
}
.directions__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.directions__pre-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ececec;
  width: 100%;
  border-bottom: 0.5px solid #fff;
  padding-bottom: 5px;
}
.directions__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #ececec;
  min-width: 750px;
  border-bottom: 0.5px solid #fff;
  padding-bottom: 3px;
}
.directions__content {
  max-width: 750px;
  margin-left: auto;
  margin-bottom: 60px;
}
.directions__content-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.directions__content:last-child {
  margin-bottom: 0;
  margin-left: 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.directions__content-inner {
  max-width: 750px;
  margin-left: auto;
}
.directions__content-inner .directions__block .directions__text {
  border: none;
}
.directions__block {
  border-left: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff;
  padding: 30px;
}
.directions__block:first-child {
  border-right: 0.5px solid #fff;
  min-width: 410px;
}
.directions__block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ececec;
  margin-bottom: 25px;
}
.directions__block-list + .directions__block-title {
  margin-top: 30px;
}
.directions__block-list-item {
  margin-bottom: 15px;
}
.directions__block-list-item:last-child {
  margin-bottom: 0;
}
.directions__block-list-item-btn {
  font-size: 16px;
  line-height: 20px;
  color: #c2c2c2;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}
.directions__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.directions__text {
  font-size: 18px;
  line-height: 22px;
  color: #c2c2c2;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 0.5px solid #fff;
}

@media screen and (max-width: 1200px) {
  .directions__title {
    min-width: auto;
    width: 100%;
  }
  .directions__pre-title {
    min-width: 410px;
    width: auto;
  }
  .directions__content {
    margin-left: 410px;
    margin-bottom: 50px;
  }
  .directions__content-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .directions__content:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .directions__content-inner {
    max-width: 100%;
    margin-left: 0;
  }
  .directions__content-inner .directions__content-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .directions__content-inner .directions__content-blocks .directions__block:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .directions__content-inner .directions__content-blocks .directions__block:last-child .directions__text {
    padding-right: 0;
    max-width: 280px;
  }
  .directions__text {
    padding-right: 300px;
  }
  .directions__pic {
    -webkit-transform: translateY(-74px);
            transform: translateY(-74px);
  }
  .directions__block:first-child {
    border-right: none;
  }
  .directions__block-list + .directions__block-title {
    border-top: 0.5px solid #fff;
    padding-top: 30px;
    max-width: 315px;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    padding-left: 30px;
  }
}
@media screen and (max-width: 950px) {
  .directions {
    padding: 120px 0;
    overflow: hidden;
  }
  .directions__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .directions__pre-title {
    border-bottom: 0;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }
  .directions__content {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .directions__content-inner .directions__block .directions__text {
    min-width: 260px;
  }
  .directions__title {
    padding-bottom: 20px;
  }
  .directions__pic {
    -webkit-transform: none;
            transform: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 30px;
  }
  .directions__text {
    padding-right: 0;
  }
  .directions__block:first-child {
    min-width: 60%;
  }
  .directions__block .directions__text {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 630px) {
  .directions {
    padding: 100px 0;
  }
  .directions__content-inner .directions__content-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .directions__content-inner .directions__content-blocks .directions__block:last-child .directions__text {
    max-width: 100%;
    margin-top: 0;
    padding-bottom: 0;
    min-width: auto;
  }
}
@media screen and (max-width: 450px) {
  .directions {
    padding: 60px 0;
  }
  .directions__pre-title {
    font-size: 16px;
    line-height: 19px;
  }
  .directions__title {
    font-size: 26px;
    line-height: 31px;
    padding-bottom: 40px;
  }
  .directions__block {
    border-left: none;
    padding-left: 0;
  }
  .directions__block-title {
    font-size: 26px;
    line-height: 31px;
  }
  .directions__block-list-item-btn {
    font-size: 18px;
    line-height: 22px;
  }
  .directions__text {
    font-size: 18px;
    line-height: 22px;
  }
  .directions__content-inner .directions__block {
    border-left: 0.5px solid #fff;
    padding-left: 30px;
  }
}
.plus {
  padding: 150px 0;
}
.plus__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 170px;
}
.plus__pic:first-child {
  margin-right: 100px;
}
.plus__pic-img {
  width: 100%;
}
.plus__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plus__body-col {
  width: 100%;
}
.plus__body-col:first-child {
  max-width: 410px;
}
.plus__body-col:first-child .plus__block {
  border-left: none;
  border-bottom: 0.5px solid #0c0c0c;
  padding-left: 0;
  padding-right: 0;
}
.plus__block {
  padding: 30px;
  border-bottom: 0.5px solid #0c0c0c;
  border-left: 0.5px solid #0c0c0c;
}
.plus__block:last-child {
  border-bottom: none;
}
.plus__block-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #0c0c0c;
  margin-bottom: 25px;
}
.plus__block-list-item {
  font-size: 18px;
  line-height: 22px;
  color: #505050;
  margin-bottom: 15px;
}
.plus__block-list-item:last-child {
  margin-bottom: 0;
}
.plus__block-pic {
  height: 0;
  -webkit-transform: translate(-340px, -110px);
          transform: translate(-340px, -110px);
}

@media screen and (max-width: 1200px) {
  .plus__pic-pic {
    -webkit-transform: translate(-340px, -405px);
            transform: translate(-340px, -405px);
  }
  .plus__pic:first-child {
    margin-right: 60px;
  }
  .plus__block:first-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .plus__body-col:last-child .plus__block:first-child {
    max-width: 525px;
  }
  .plus__body-col:last-child .plus__block:first-child .plus__block-title {
    width: 530px;
  }
}
@media screen and (max-width: 950px) {
  .plus {
    padding: 120px 0;
    overflow: hidden;
  }
  .plus__pics {
    margin-bottom: 120px;
  }
  .plus__pic {
    width: 50%;
  }
  .plus__pic-img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .plus__pic:first-child {
    margin-right: 35px;
    width: 55vw;
    height: 52vw;
  }
  .plus__pic:last-child {
    width: 40vw;
    height: 38vw;
  }
  .plus__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 0.5px solid #0c0c0c;
  }
  .plus__body-col:first-child {
    max-width: 100%;
  }
  .plus__body-col:first-child .plus__block {
    padding-left: 30px;
    padding-top: 0;
  }
  .plus__body-col:last-child .plus__block:first-child {
    max-width: 100%;
  }
  .plus__body-col:last-child .plus__block:first-child .plus__block-title {
    width: auto;
  }
  .plus__block-pic {
    -webkit-transform: translate(calc(100% - 20px), -170px);
            transform: translate(calc(100% - 20px), -170px);
  }
}
@media screen and (max-width: 630px) {
  .plus {
    padding: 100px 0;
  }
  .plus__pic:first-child {
    margin-right: 25px;
    width: 55vw;
    height: 50vw;
  }
  .plus__pic:last-child {
    width: 40vw;
    height: 36vw;
  }
  .plus__pics {
    margin-bottom: 100px;
  }
  .plus__block-pic {
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }
  .plus__block-pic-svg {
    margin-left: auto;
    display: block;
    width: 26px;
    height: 26px;
  }
}
@media screen and (max-width: 450px) {
  .plus__pics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .plus__pic:first-child {
    margin-right: 0;
    margin-bottom: 25px;
    width: 65vw;
    height: 90vw;
  }
  .plus__pic:last-child {
    width: 75vw;
    height: 60vw;
    margin-left: auto;
  }
  .plus__block {
    padding-left: 15px;
  }
  .plus__block-title {
    font-size: 28px;
    line-height: 34px;
  }
  .plus__block-list-item {
    font-size: 18px;
    line-height: 22px;
  }
  .plus__body-col:first-child .plus__block {
    padding-left: 15px;
  }
}
.footer {
  background-color: #0C0C0C;
  color: white;
}
.footer__name {
  padding-top: 60px;
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 18px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__stage-list-item {
  margin-top: 15px;
}
.footer__stage-list-item:first-child {
  margin-top: 0px;
}
.footer__stage-list-item-link {
  color: white;
  font-weight: 5500;
  font-size: 18px;
}
.footer__stage-list-item-link:hover {
  color: #C2C2C2;
}
.footer__stage-list-item-link:focus {
  border-bottom: 1px solid white;
}
.footer__contacts-list {
  margin-left: 88px;
}
.footer__contacts-list-item {
  margin-top: 15px;
}
.footer__contacts-list-item:first-child {
  margin-top: 0px;
}
.footer__contacts-list-item-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.footer__contacts-list-item-link:hover {
  color: #C2C2C2;
}
.footer__contacts-list-item-link:focus {
  border-bottom: 1px solid white;
}
.footer__list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__logo {
  margin-top: 130px;
  margin-bottom: 30px;
}
.footer__cross-svg {
  -webkit-animation: rotate-center 1s linear infinite both;
          animation: rotate-center 1s linear infinite both;
}

.visually-hidden {
  visibility: hidden;
}

.crosses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__big-cross {
  margin-top: 8px;
  margin-left: 8px;
}

.footer__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 960px) {
  .footer__form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts-list {
    margin-left: 0px;
    margin-top: 45px;
  }
}
@media screen and (max-width: 640px) {
  .crosses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .footer__big-cross {
    -webkit-transform: rotate(-105deg);
            transform: rotate(-105deg);
  }

  .footer__small-cross {
    margin-top: 40px;
  }

  .footer__logo {
    margin-top: 77px;
  }
}
@media screen and (max-width: 480px) {
  .footer__logo {
    margin-top: 89px;
  }
}
@media screen and (max-width: 320px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__stage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__stage-list-item:not(:first-child) {
    margin-top: 0px;
    margin-left: 30px;
  }

  .footer__logo {
    margin-top: 95px;
  }
}