.partners {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 135px);
        justify-content: space-between;
    }
    &__card {
    }
    &__pic {
        width: 100%;
    }
}
